.Login__wrapper {
  width: 100%;
  height: 100vh;
  background-color: #232121;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Login__wrapper__form {
  width: 50%;
  height: 35vh;
  background: #141414;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px #3b3b3b;
}

.Login__wrapper__form__logo {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Login__wrapper__form__logo__img {
  width: 5%;
  margin-right: 3%;
  margin-left: 35%;
}

.Login__wrapper__form__logo__heading {
  color: rgb(210, 21, 21);
}

.Login__wrapper__form__contant {
  margin-top: 5%;
  width: 80%;
}

.Login__wrapper__form__contant input {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  outline: none;
  border: none;
  padding-left: 2rem;
  font-size: 1.1rem;
  color: #000000;
  background: #fff;
  padding: 5px;
  padding-left: 1rem;
}

.Login__wrapper__form__contant__btn {
  width: 100%;
  height: 3rem;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 1.4rem;
  color: #fff;
  background: #e92d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .3rem;
}

.Login__wrapper__form__contant__btn i {
  width: 0;
  margin-right: 1rem;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Login__wrapper__form__contant__btn:hover {
  background: #e92d2dd0;
}

.Login__wrapper__form__contant__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1.1px solid #fff;
}

/* Media Queries For screen size 1000px */
/* 
@media only screen and (max-width: 1000px) {
  .Login__wrapper__form {
    width: 60%;
  }

  .Login__wrapper__form__contant {
    width: 90%;
  }

  .Login__wrapper__form__contant input {
    font-size: 1rem;
  }

  .Login__wrapper__form__contant__btn {
    font-size: 1.2rem;
  }

} */

/* For screen size 720px  */
@media only screen and (max-width: 720px) {
  .Login__wrapper__form {
    width: 70%;
  }

  .Login__wrapper__form__contant {
    width: 95%;
  }

  .Login__wrapper__form__contant input {
    font-size: 0.9rem;
  }

  .Login__wrapper__form__contant__btn {
    font-size: 1.1rem;
  }

}

/* For screen size 650px */
@media only screen and (max-width: 650px) {
  .Login__wrapper__form {
    width: 80%;
  }

  .Login__wrapper__form__contant {
    width: 98%;
  }

  .Login__wrapper__form__contant input {
    font-size: 0.8rem;
  }

  .Login__wrapper__form__contant__btn {
    font-size: 1rem;
  }

  .Login__wrapper__form__logo__img {
    width: 10%;
    margin-left: 20%;
  }
}